.homeCarousel {
  width: 100%;
  height: 100%;
}

.dashboardCarousel {
  width: 100%;
  height: 100%;
}

.dashboardCarouselPagination {
  display: block;
  .swiper-pagination-bullet {
    background: #FFCEAD !important;
  }

  .swiper-pagination-bullet-active {
    background: #FA8232 !important;
  }

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after::after,
  .swiper-button-prev::after {
    content: "" !important;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "" !important;
  }
}
