@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font !important;
  background-color: var(--background-color);
  color: var(--text-color);
}


.container {
  width: min(100% - u.rem(40), u.rem(1300));
}